    /* Regra para impedir zoom em inputs no mobile */
    @media screen and (max-width: 768px) {

        input,
        select,
        textarea {
            font-size: 16px !important;
        }
    }

    /* Custom scrollbar para ficar dark */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #111;
    }

    ::-webkit-scrollbar-thumb {
        background: #444;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #fbbf24;
        /* yellow-500 */
    }

    .card-hover:hover {
        transform: translateY(-5px);
        transition: transform 0.2s ease;
        box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1);
    }

    /* Esconder inputs number arrows */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }