    /* Regra para impedir zoom em inputs no mobile */
    @media screen and (max-width: 768px) {

        input,
        select,
        textarea {
            font-size: 16px !important;
        }
    }

    /* Custom scrollbar para ficar dark */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #111;
    }

    ::-webkit-scrollbar-thumb {
        background: #444;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #fbbf24;
        /* yellow-500 */
    }

    .card-hover:hover {
        transform: translateY(-5px);
        transition: transform 0.2s ease;
        box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1);
    }

    /* Esconder inputs number arrows */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Animação para DESKTOP (Deslizar da direita) */
    @keyframes slideInRight {
        from { transform: translateX(100%); opacity: 0; }
        to { transform: translateX(0); opacity: 1; }
    }
    
    /* Animação para MOBILE (Zoom suave/Fade) */
    @keyframes zoomIn {
        from { transform: scale(0.95); opacity: 0; }
        to { transform: scale(1); opacity: 1; }
    }

    /* Classes utilitárias para aplicar a animação */
    .animate-drawer-desktop {
        animation: slideInRight 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    }
    
    /* No mobile usa animação de zoom, no desktop usa slide */
    .responsive-animation {
        animation: zoomIn 0.2s ease-out forwards;
    }
    
    @media (min-width: 768px) {
        .responsive-animation {
            animation: slideInRight 0.35s cubic-bezier(0.16, 1, 0.3, 1) forwards;
        }
    }


    /* Remove a seta padrão do elemento <details>/<summary> */
details > summary {
  list-style: none; /* Padrão para a maioria dos navegadores */
}

/* Específico para Safari/iOS e Chrome (Webkit) */
details > summary::-webkit-details-marker {
  display: none;
}